* {
    box-sizing: border-box;
}

/*/-/-/-/-/ GRID SYSTEM /-/-/-/-/*/
[class*="col-"] {
    float: left;
    padding: 15 px;
    border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Desktop only*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%}
.col-12 {width: 100%;}

/* medium screens */

@media only screen and (max-width:1200px) {
.col-1 {width: 16.66%;}
.col-2 {width: 16.66%;}
.col-3 {width: 33.33%;}
.col-4 {width: 33.33%;}
.col-5 {width: 50%;}
.col-6 {width: 50%;}
.col-7 {width: 66.66%;}
.col-8 {width: 66.66%;}
.col-9 {width: 83.33%}
.col-10 {width: 83.33%;}
.col-11 {width: 100%}
.col-12 {width: 100%;}
}

/* small screens */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

